.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;

  .user-info {
    margin-left: 10px;
  }

  .header-controls {
    display: flex;
    align-items: center;
  }
}

.header-icon {
  font-size: 18px;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-button-danger {
  &:hover {
    color: #ff4d4f;
  }
}
